/* import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1abc9c;
    overflow: hidden;
}
.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 15px;
}
.wrapper .title{
    line-height: 90px;
    background: #16a085;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.wrapper form{
    padding: 30px 25px 10px 25px;
}
.wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wrapper form .row input{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all .3s ease;
}
.wrapper form .row input:focus{
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(25, 188, 156, 0.25);
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form .btnSignup {
    margin-top: 30px;
}
.wrapper form .btnSignup input{
    padding-left: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
}
form .btnSignup input:hover{
    background: #168f77;
    transition: all 0.3s ease;
}